body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0b0101;
  border-left:solid 5px white;
  color:white;
  margin:0;
  padding:0;
  list-style:none;


  
}

/* *{

  margin:0;
  padding:0;
  list-style:none;
  text-decoration: none;
 

} */


header{
  padding:2rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



button {
  width: 130px;
  height: 60px;
  color: rgb(249, 248, 248);
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgb(252, 252, 252),
   4px 4px 5px 0px rgb(253, 253, 253);

}






button:hover{
  background-color: rgb(8, 0, 255);
  
}

/* .textcolor{
color: rgb(5, 253, 211);
} */

.textcolor:hover{
  color: white;
}

.textcolorh3{
color: rgb(5, 253, 211);
}

/* .navButton{
  background-color: rgb(255, 255, 255);
  position: fixed; top: 0px; left: 0px; width: 100%;
  border-bottom: solid 5px white;

} */

.hidden{
  color: grey;
}
.project{
  background-color: #0b0101;
  
}


nav{
  height: 80px;
  background:white;
  width:100%;
}

nav img{
  width: 90px;
  position: absolute;
  top: 100ppx;
  left: 12%;
  height: 80px;
  
}

nav ul{
  float: right;
  margin-right: 25px;

}


nav ul li{
  display: inline;
  line-height: 80px;
  margin: 0 15px;
}
nav ul li a{
  position: relative;
  color: #070707;
  font-size: 18px;
  padding: 5px 0;
  text-transform: uppercase;
}

nav ul li a:before{
  position: absolute;
  content: " ";
  left:0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background: #000000;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .4s linear;
}


nav ul li a:hover:before{

  transform: scaleX(1);
  transform-origin: left;
}


label #btn,
label #cancel{
  color: #000000;
  font-size: 30px;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check{
  display: none;
}

.square1{
  width: 30px;
  height: 30px;
  background-color: rgb(249, 15, 15);
  align-self: start;
  opacity: .8;
  animation: bounce 40s ease-out  infinite  ;



}

.square2{
  width: 30px;
  height: 30px;
  background-color: white;
  animation: bounce 50s ease-out  infinite  alternate;
  opacity: .8;
  

}




.square3{
  width: 30px;
  height: 30px;
  background-color: rgb(12, 249, 32);
  position: absolute;
  top:100px;
  left:100px;
  opacity: .8;
  animation: bounce 30s ease-out  infinite  alternate;

 
 
}


/* .Welcome{
  box-shadow:  4px 4px 6px 0 rgb(212, 212, 212),
  -4px -4px 6px 0 rgb(255, 255, 255), 
  inset 4px 4px 6px 0 rgb(255, 254, 254),
  inset 4px 4px 6px 0 rgb(255, 254, 254);
} */


.cardFont{
  color: black;
}

@keyframes bounce{
  0% {
    transform: translateX(0);
  }

  
  33%{
    background-color: white;
    transform: translateY(100%);
  }

  66%{
    background-color: rgba(247, 206, 1, 0.5);
    transform: translateX(3000%) translateY(100%);
  }

  100%{
    background-color: blueviolet;
    transform: translateX(500%);
  }

  }

  /* @media all and (max-width: 570px){
    body{
      background-color: rgb(152, 0, 246);
      color: black;
    }
    img{
      height: 20%;
      width: 20%;
    }
    nav button{
      height: 50px;
      width: 90px;
      background-color: #0b0101;
      

       
    } */
    /* .textColor{
      color:#0b0101;
    } */
    h5{
      font-size: small;
      color: tomato;
     
    }
    /* nav{ */
      /* display: flex;
      justify-content: center;
      align-items: left; */
      /* position: relative;
      max-width: 5px;
      box-sizing: inherit; */
    /* } */
  /* } */


  @media (max-width:1118px){
    nav img{
      left:8px;
    }
  }